<div ng-app="ViajanetApp">
    
    <div ng-controller="IndexController">
        <div class="view-animate-container">
            <div ng-view class="view-animate view-default"></div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/vendor")
@Scripts.Render("~/bundles/ViajanetApp")